@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
   --primary-color: #6244C5;
   --primary-hover-color: #523b9e;
   --white-color: #ffffff;
   --black-color: #000000;

   ::selection {
      background-color: var(--primary-color);
      color: var(--white-color);
   }
}

* {
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   box-sizing: border-box;
   overflow-wrap: break-word;
   word-break: break-all;
   flex-wrap: wrap;
   transition: .5s;
}

html,
body {
   background-color: var(--white-color);
   overflow-x: hidden;
   width: 100dvw;
   height: 100dvh;
   color: var(--black-color);
   font-family: "DM Sans", sans-serif;
   scroll-behavior: smooth;
   transition: .5s;
}

nav {
   width: 90%;
   display: flex;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 2dvh 4dvw;
   margin: auto;
}

nav .Logo {
   width: fit-content;
   display: flex;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: .5dvh;
   color: #0D0B0B;
   font-family: "DM Sans";
   font-size: 1.625rem;
   font-weight: 600;
   opacity: 0.9;
   cursor: pointer;
}

nav .Logo span:nth-child(2) {
   color: #6244C5;
}

nav .CTA {
   width: fit-content;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 1.5dvw;
}

nav .CTA .Links {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 1dvw;
}

nav .CTA .Links a {
   all: unset;
   color: var(--black-color);
   font-family: "DM Sans";
   font-size: 1.25rem;
   font-weight: 400;
   cursor: pointer;

   &:hover {
      font-size: 1.35rem;
      font-weight: 600;
      transition: .5s;
   }
}

nav .CTA .Social-Links {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: .8dvw;
   flex-direction: row;
   flex-wrap: wrap;
}

@media only screen and (max-width: 480px) {
   nav {
      width: 95%;
      padding: 3dvh 4dvw;
   }

   nav .CTA .Links {
      display: none;
   }

   nav .CTA .Social-Links {
      gap: 3dvw;
   }
}

@media (min-width: 481px) and (max-width: 600px) {

   nav {
      width: 95%;
      padding: 2dvh 4dvw;
   }

   nav .CTA .Links {
      display: none;
   }

   nav .CTA .Social-Links {
      gap: 3dvw;
   }
}

@media (min-width: 601px) and (max-width: 768px) {
   nav {
      width: 95%;
      padding: 2dvh 4dvw;
   }

   nav .CTA .Links {
      display: none;
   }

   nav .CTA .Social-Links {
      gap: 2dvw;
   }
}

@media (min-width: 769px) and (max-width: 992px) {

   nav {
      width: 95%;
      padding: 2dvh 2dvw;
   }

   nav .CTA {
      gap: 2dvw;
   }

   nav .CTA .Links {
      gap: 1.5dvw;
   }

   nav .CTA .Links a {
      font-size: 1.05rem;

      &:hover {
         font-size: 1.15rem;
      }
   }

   nav .CTA .Social-Links {
      gap: 1dvw;
   }
}

@media (min-width: 993px) and (max-width: 1200px) {

   nav {
      width: 90%;
      padding: 2dvh 4dvw;
   }

   nav .CTA {
      gap: 1.5dvw;
   }

   nav .CTA .Links {
      gap: 1.5dvw;
   }

   nav .CTA .Links a {
      font-size: 1.15rem;

      &:hover {
         font-size: 1.25rem;
      }
   }

   nav .CTA .Social-Links {
      gap: 1dvw;
   }
}

@media (min-width: 1201px) and (max-width: 1600px) {

   nav {
      width: 90%;
   }

   nav .CTA {
      gap: 1.5dvw;
   }

   nav .CTA .Links {
      gap: 1.5dvw;
   }

   nav .CTA .Social-Links {
      gap: 1dvw;
   }
}

@media (min-width: 1601px) {

   nav {
      width: 90%;
      padding: 2dvh 4dvw;
   }

   nav .CTA {
      gap: 1.5dvw;
   }

   nav .CTA .Links {
      gap: 1dvw;
   }

   nav .CTA .Social-Links {
      gap: .8dvw;
   }
}

.Home {
   width: 90%;
   min-height: 80dvh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 2dvh 4dvw;
   margin: auto;
}

.Home .Continer {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: row;
   flex-wrap: wrap;
   margin: auto;

}

.Home .Continer .Home-Text {
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 2dvh;
   order: 1;
}

.Home .Continer .Home-Image {
   width: 50%;
   height: 100%;
   margin: auto;
   display: flex;
   justify-content: end;
   order: 2;
}

.Home .Continer .Home-Text .I-am {
   color: var(--primary-color);
   font-size: 28px;
   font-weight: 500;
}

.Home .Continer .Home-Text h1 {
   color: var(--black-color);
   font-size: 64px;
   font-weight: 700;
   line-height: normal;
}

.Home .Continer .Home-Text span {
   color: var(--black-color);
   font-size: 32px;
   font-weight: 400;
}

.Home .Continer .Home-Text .Buttons {
   display: flex;
   align-items: center;
   gap: .8dvw;
   padding: auto;
}

.Home .Continer .Home-Text .Buttons a {
   all: unset;
   padding: 1dvh 1.5dvw;
   border: 1px solid var(--black-color);
   font-size: 16px;
   font-weight: 500;
   border-radius: 8px;
   outline: none;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;

   &:hover {
      transition: .5s;
      background-color: var(--black-color);
      color: var(--white-color);
   }
}

.Home .Continer .Home-Text .Buttons a:nth-child(2) {
   background-color: var(--primary-color);
   border: 1px solid var(--primary-color);
   color: var(--white-color);

   &:hover {
      transition: .5s;
      background-color: var(--white-color);
      color: var(--primary-color);
   }
}

@media only screen and (max-width: 480px) {

   .Home {
      width: 90%;
      padding: 2dvh 2dvw;
   }

   .Home .Continer {
      width: 100%;
      flex-direction: column;
      gap: 8dvh;
   }

   .Home .Continer .Home-Text {
      width: 100%;
      height: 100%;
      order: 2;
   }

   .Home .Continer .Home-Image {
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      order: 1;
   }

   .Home .Continer .Home-Image img {
      width: 70%;
      height: auto;
      justify-content: center;
      align-items: center;
      order: 1;
   }

   .Home .Continer .Home-Text .I-am {
      font-size: 20px;
   }

   .Home .Continer .Home-Text h1 {
      font-size: 48px;
   }

   .Home .Continer .Home-Text span {
      font-size: 20px;
      font-weight: 500;
   }

   .Home .Continer .Home-Text .Buttons {
      gap: 2dvw;
   }

   .Home .Continer .Home-Text .Buttons a {
      padding: .9dvh 3dvw;
      font-size: 12px;
   }
}

@media (min-width: 481px) and (max-width: 600px) {

   .Home {
      width: 90%;
      min-height: 80dvh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 2dvh 4dvw;
      margin: auto;
   }

   .Home .Continer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto;

   }

   .Home .Continer .Home-Text {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 2dvh;
      order: 1;
   }

   .Home .Continer .Home-Image {
      width: 50%;
      height: 100%;
      margin: auto;
      display: flex;
      justify-content: end;
      order: 2;
   }

   .Home .Continer .Home-Text .I-am {
      color: var(--primary-color);
      font-size: 28px;
      font-weight: 500;
   }

   .Home .Continer .Home-Text h1 {
      color: var(--black-color);
      font-size: 64px;
      font-weight: 700;
      line-height: normal;
   }

   .Home .Continer .Home-Text span {
      color: var(--black-color);
      font-size: 32px;
      font-weight: 400;
   }

   .Home .Continer .Home-Text .Buttons {
      display: flex;
      align-items: center;
      gap: .8dvw;
      padding: auto;
   }

   .Home .Continer .Home-Text .Buttons a {
      all: unset;
      padding: 1dvh 1.5dvw;
      border: 1px solid var(--black-color);
      font-size: 16px;
      font-weight: 500;
      border-radius: 8px;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
         transition: .5s;
         background-color: var(--black-color);
         color: var(--white-color);
      }
   }

   .Home .Continer .Home-Text .Buttons a:nth-child(2) {
      background-color: var(--primary-color);
      border: 1px solid var(--primary-color);
      color: var(--white-color);

      &:hover {
         transition: .5s;
         background-color: var(--white-color);
         color: var(--primary-color);
      }
   }
}

@media (min-width: 601px) and (max-width: 768px) {

   .Home {
      width: 90%;
      min-height: 80dvh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 2dvh 4dvw;
      margin: auto;
   }

   .Home .Continer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto;

   }

   .Home .Continer .Home-Text {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 2dvh;
      order: 1;
   }

   .Home .Continer .Home-Image {
      width: 50%;
      height: 100%;
      margin: auto;
      display: flex;
      justify-content: end;
      order: 2;
   }

   .Home .Continer .Home-Text .I-am {
      color: var(--primary-color);
      font-size: 28px;
      font-weight: 500;
   }

   .Home .Continer .Home-Text h1 {
      color: var(--black-color);
      font-size: 64px;
      font-weight: 700;
      line-height: normal;
   }

   .Home .Continer .Home-Text span {
      color: var(--black-color);
      font-size: 32px;
      font-weight: 400;
   }

   .Home .Continer .Home-Text .Buttons {
      display: flex;
      align-items: center;
      gap: .8dvw;
      padding: auto;
   }

   .Home .Continer .Home-Text .Buttons a {
      all: unset;
      padding: 1dvh 1.5dvw;
      border: 1px solid var(--black-color);
      font-size: 16px;
      font-weight: 500;
      border-radius: 8px;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
         transition: .5s;
         background-color: var(--black-color);
         color: var(--white-color);
      }
   }

   .Home .Continer .Home-Text .Buttons a:nth-child(2) {
      background-color: var(--primary-color);
      border: 1px solid var(--primary-color);
      color: var(--white-color);

      &:hover {
         transition: .5s;
         background-color: var(--white-color);
         color: var(--primary-color);
      }
   }
}

@media (min-width: 769px) and (max-width: 992px) {

   .Home {
      width: 90%;
      min-height: 80dvh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 2dvh 4dvw;
      margin: auto;
   }

   .Home .Continer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto;

   }

   .Home .Continer .Home-Text {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 2dvh;
      order: 1;
   }

   .Home .Continer .Home-Image {
      width: 50%;
      height: 100%;
      margin: auto;
      display: flex;
      justify-content: end;
      order: 2;
   }

   .Home .Continer .Home-Text .I-am {
      color: var(--primary-color);
      font-size: 28px;
      font-weight: 500;
   }

   .Home .Continer .Home-Text h1 {
      color: var(--black-color);
      font-size: 64px;
      font-weight: 700;
      line-height: normal;
   }

   .Home .Continer .Home-Text span {
      color: var(--black-color);
      font-size: 32px;
      font-weight: 400;
   }

   .Home .Continer .Home-Text .Buttons {
      display: flex;
      align-items: center;
      gap: .8dvw;
      padding: auto;
   }

   .Home .Continer .Home-Text .Buttons a {
      all: unset;
      padding: 1dvh 1.5dvw;
      border: 1px solid var(--black-color);
      font-size: 16px;
      font-weight: 500;
      border-radius: 8px;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
         transition: .5s;
         background-color: var(--black-color);
         color: var(--white-color);
      }
   }

   .Home .Continer .Home-Text .Buttons a:nth-child(2) {
      background-color: var(--primary-color);
      border: 1px solid var(--primary-color);
      color: var(--white-color);

      &:hover {
         transition: .5s;
         background-color: var(--white-color);
         color: var(--primary-color);
      }
   }
}

@media (min-width: 993px) and (max-width: 1200px) {

   .Home {
      width: 90%;
      min-height: 80dvh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 2dvh 4dvw;
      margin: auto;
   }

   .Home .Continer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto;

   }

   .Home .Continer .Home-Text {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 2dvh;
      order: 1;
   }

   .Home .Continer .Home-Image {
      width: 50%;
      height: 100%;
      margin: auto;
      display: flex;
      justify-content: end;
      order: 2;
   }

   .Home .Continer .Home-Text .I-am {
      color: var(--primary-color);
      font-size: 28px;
      font-weight: 500;
   }

   .Home .Continer .Home-Text h1 {
      color: var(--black-color);
      font-size: 64px;
      font-weight: 700;
      line-height: normal;
   }

   .Home .Continer .Home-Text span {
      color: var(--black-color);
      font-size: 32px;
      font-weight: 400;
   }

   .Home .Continer .Home-Text .Buttons {
      display: flex;
      align-items: center;
      gap: .8dvw;
      padding: auto;
   }

   .Home .Continer .Home-Text .Buttons a {
      all: unset;
      padding: 1dvh 1.5dvw;
      border: 1px solid var(--black-color);
      font-size: 16px;
      font-weight: 500;
      border-radius: 8px;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
         transition: .5s;
         background-color: var(--black-color);
         color: var(--white-color);
      }
   }

   .Home .Continer .Home-Text .Buttons a:nth-child(2) {
      background-color: var(--primary-color);
      border: 1px solid var(--primary-color);
      color: var(--white-color);

      &:hover {
         transition: .5s;
         background-color: var(--white-color);
         color: var(--primary-color);
      }
   }
}

@media (min-width: 1201px) and (max-width: 1600px) {

   .Home {
      width: 90%;
      min-height: 80dvh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 2dvh 4dvw;
      margin: auto;
   }

   .Home .Continer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto;

   }

   .Home .Continer .Home-Text {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 2dvh;
      order: 1;
   }

   .Home .Continer .Home-Image {
      width: 50%;
      height: 100%;
      margin: auto;
      display: flex;
      justify-content: end;
      order: 2;
   }

   .Home .Continer .Home-Text .I-am {
      color: var(--primary-color);
      font-size: 28px;
      font-weight: 500;
   }

   .Home .Continer .Home-Text h1 {
      color: var(--black-color);
      font-size: 64px;
      font-weight: 700;
      line-height: normal;
   }

   .Home .Continer .Home-Text span {
      color: var(--black-color);
      font-size: 32px;
      font-weight: 400;
   }

   .Home .Continer .Home-Text .Buttons {
      display: flex;
      align-items: center;
      gap: .8dvw;
      padding: auto;
   }

   .Home .Continer .Home-Text .Buttons a {
      all: unset;
      padding: 1dvh 1.5dvw;
      border: 1px solid var(--black-color);
      font-size: 16px;
      font-weight: 500;
      border-radius: 8px;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
         transition: .5s;
         background-color: var(--black-color);
         color: var(--white-color);
      }
   }

   .Home .Continer .Home-Text .Buttons a:nth-child(2) {
      background-color: var(--primary-color);
      border: 1px solid var(--primary-color);
      color: var(--white-color);

      &:hover {
         transition: .5s;
         background-color: var(--white-color);
         color: var(--primary-color);
      }
   }
}

@media (min-width: 1601px) {

   .Home {
      width: 90%;
      min-height: 80dvh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 2dvh 4dvw;
      margin: auto;
   }

   .Home .Continer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto;

   }

   .Home .Continer .Home-Text {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 2dvh;
      order: 1;
   }

   .Home .Continer .Home-Image {
      width: 50%;
      height: 100%;
      margin: auto;
      display: flex;
      justify-content: end;
      order: 2;
   }

   .Home .Continer .Home-Text .I-am {
      color: var(--primary-color);
      font-size: 28px;
      font-weight: 500;
   }

   .Home .Continer .Home-Text h1 {
      color: var(--black-color);
      font-size: 64px;
      font-weight: 700;
      line-height: normal;
   }

   .Home .Continer .Home-Text span {
      color: var(--black-color);
      font-size: 32px;
      font-weight: 400;
   }

   .Home .Continer .Home-Text .Buttons {
      display: flex;
      align-items: center;
      gap: .8dvw;
      padding: auto;
   }

   .Home .Continer .Home-Text .Buttons a {
      all: unset;
      padding: 1dvh 1.5dvw;
      border: 1px solid var(--black-color);
      font-size: 16px;
      font-weight: 500;
      border-radius: 8px;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
         transition: .5s;
         background-color: var(--black-color);
         color: var(--white-color);
      }
   }

   .Home .Continer .Home-Text .Buttons a:nth-child(2) {
      background-color: var(--primary-color);
      border: 1px solid var(--primary-color);
      color: var(--white-color);

      &:hover {
         transition: .5s;
         background-color: var(--white-color);
         color: var(--primary-color);
      }
   }
}